/* general styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  background-image: url(https://www.globalpartnership.org/sites/default/files/docs/financing-campaign-2025/summit/blue-background-summit-v2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  display: flex;
  font-family: "Biebas Neue", sans-serif; 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif;
}

.container {
  color: white;
  margin: 0 auto;
  text-align: center;
  background: #43d596;
  box-shadow: 0 0 0px 0px ;
}

h1 {
  font-weight: normal;
  letter-spacing: .30rem;
  text-transform: uppercase;
}

li {
  display: inline-block;
  font-size: 0.5em;
  list-style-type: none;
  padding: 0.5em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 0.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 1rem;
  padding: 0 .5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 0.5rem;
  }
  
  li {
    font-size: 0.325rem;
    padding: .75rem;
  }
  
  li span {
    font-size: 0.975rem;
  }
}
