/* general styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  background-image: url(https://www.globalpartnership.org/sites/default/files/docs/financing-campaign-2025/summit/blue-background-summit-v2.jpg);
  display: flex;
  ffont-family: 'Poppins', sans-serif;
}

.container {
  color: white;
  margin: 0 auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 2.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  
  li {
    font-size: 1.125rem;
    padding: .75rem;
  }
  
  li span {
    font-size: 1.375rem;
  }
}
